@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

:root {
    --color-bg: rgb(255, 234, 216);
    --color-header: rgb(93, 47, 119);
    
    --font-title: 'Indie Flower', cursive;
    --font-title-size: 5rem;

    --font-body-size: 14pt;
    
    --font-username: 'Homemade Apple', cursive;
    --font-notebook: 'Fuzzy Bubbles', sans-serif;

    --panels-padding: 2rem;

    --panel-left-bg: #FFC29B;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
}

/* Global main element styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Fonts */
@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/IndieFlower.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}