@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color-bg: rgb(255, 234, 216);
    --color-header: rgb(93, 47, 119);
    
    --font-indie-flower: 'Indie Flower', cursive;
    --font-homemade-apple: 'Homemade Apple', cursive;
    --font-fuzzy-bubbles: 'Fuzzy Bubbles', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
    
    --title-font-size: 5rem;
    --secondary-title-font-size: 24pt;
    --body-font-size: 14pt;

    --panels-padding: 2rem;

    --panel-left-bg: #FFC29B;
    --panel-main-bg: rgb(250, 250, 250);
    --panel-actions-bg: #BEDDFF;

    --actions-panel-icon-size: 60px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
}

/* Global main element styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Fonts */
@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/IndieFlower.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Helper global classes */
.no-scroll {
    overflow: hidden;
}