:root {
    --color-bg: rgb(255, 234, 216);
    --color-header: rgb(93, 47, 119);
    --font-title: 'Indie Flower', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
}

/* Fonts */
@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/IndieFlower.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}