.header {
    background-color: var(--color-header);
    background-image: url('/src/imgs/paper-texture.jpg');
    background-blend-mode: multiply;
    background-size: cover;

    padding: 1rem;
    padding-left: 2rem;

    -webkit-user-select: none; /* Safari */
    user-select: none;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.headerLink {
    width: fit-content;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    
    text-decoration: none;
}

.header h1 {
    margin: 0;

    font-family: var(--font-title);
    font-size: var(--font-title-size);
    font-weight: 400;

    color: white;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}